* {
    box-sizing: border-box;
    margin: 0;
}
/*Typographies*/
h1, h2, p {
    font-family: "Kumbh Sans", sans-serif;
}

h1 {
    font-size: 18px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

p {
    font-size: 16px;
    color: hsl(0, 0%, 59%);
}

section {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*On this lesson you will learn how to put multiple background images and position them :)-rommel*/ 
    background-color: hsl(185, 75%, 39%); /*Background color*/
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg); /*the two background images*/
    background-repeat: no-repeat; /*make the background images not to repeat itself*/
    background-position: -70% 200%,/*Adjusts the top bg pattern x and y axis*/ 
    160% -140%; /*Adjust the the bottom pattern x and y axis*/
}

.container {
    width: 350px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;

    /* border: 3px solid black; */

}

.card-top {
    padding: 80px 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-image: url(../images/bg-pattern-card.svg);
    /* border: 3px solid red; */
}

.card-middle {
    text-align: center;
    margin-top: -13%;
}

.card-middle img {
    border-radius: 100px;
    border: 5px solid #fff;
}

.card-middle h1 {
    padding-top: 20px;
}

.card-middle p {
    padding-top: 10px;
    padding-bottom: 20px;
}

.age {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}


.card-bottom {
    display: flex;
    padding-top: 30px;
    border-top: .1px solid hsl(0, 0%, 89%);
    text-align: center;
}

.card-bottom >* {
    flex: 1 1 100%;
}

.socialstatus p {
    padding-top: 5px;
    font-size: 12px;
    letter-spacing: 1px;
}

/*Media Query*/

@media (max-width: 500px) {
    .container {
        width: 85%;
    }
}